# Database
quizzes.db
*.db
*.sqlite3

# Archives and build artifacts
*.zip
*.tar.gz
*.rar

# Environments
.env
.venv*
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs / OS files
.vscode/
.idea/
.DS_Store

# Browser testing profiles
.edge*

# Temporary scratch & backup folders
scratch/
backup_bgd_feature/

# Firebase configs
firebase-adminsdk.json

# Uploads
uploads/*
!uploads/.gitkeep
!uploads/images/.gitkeep
